.cuadrado {
  width: 100px;
  height: 100px;
  background-color: brown;
}

.cuadrado2{
  width: 150px;
  height: 150px;
  background: steelblue;
}

.cuadrado3{
  width: 200px;
  height: 200px;
  background: aqua;
}